{% if widgets %}
    {% for rows in widgets %}
    <div class="main-row {{ rows.class }}">
        <div class="container">
            <div class="row">
                {% for main_col in rows.main_cols %}
                <div class="main-col col-sm-12 col-md-{{ main_col.format }}">
                    {% if main_col.sub_rows %}
                        {% for sub_row in main_col.sub_rows %}
                        <div class="row sub-row">
                            {% for sub_col in sub_row %}
                                <div class="sub-col col-sm-12 col-md-{{ sub_col.format }}">
                                    {% if sub_col.info %}
                                        {% for modules in sub_col.info %}
                                            {{ modules }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}