#search-by-category { margin-left: -15px; width: 100%; }

#category-search { height: 46px; }
.categories-container { float: left; width: 30%; }

#text-search { float: left; width: 60%; }

#sp-btn-search { float: left; width: 10%; }
#btn-search-category { height: 46px; }

.ajax-loader-container { display: none; }
.ajax-result-item { list-style: none; }

.ajax-loader-container { position: absolute; top: 46px; z-index: 110; width: 470px; height: 300px; border: 2px solid antiquewhite; background-color: white; opacity: 0.5; }
.ajax-result-container { position: absolute; top: 46px; z-index: 100; width: 470px; height: auto; max-height: 300px; overflow: auto; border: 2px solid antiquewhite; background-color: white; }
.product-info { width: 400px; display: inline-block; border-bottom: 1px solid antiquewhite; }
.product-info > .product-img { float: left; }
.product-info > .detail { float: left; }
.product-info .price-old { text-decoration: line-through; }