<div id="search" class="control-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-field" />
  <button class="search-button"><i class="fa fa-search"></i>
  </button> 
</div>